:root {
	--background-color-light: #ffffff;
	--background-color-dark: #000000;
	--text-color-light: #000000;
	--text-color-dark: #ffffff;
}

@media (prefers-color-scheme: dark)
{
	body {
		background-color: var(--background-color-dark);
		color: var(--text-color-dark);
	}
}

body.dark-mode {
	background-color: var(--background-color-dark);
	color: var(--text-color-dark);
}

body.light-mode {
	background-color: var(--background-color-light);
	color: var(--text-color-light);
}

b {
	color: orange;
}

i {
	color: cyan;
}

i.bold {
	color: teal;
}

s {
	color: red;
}

h1.title {
	font-size: 40;
	text-align: center;
	color: purple;
}

h1 {
	font-size: 30;
	text-align: center;
	color: navy;
}

h2 {
	font-size: 25;
	text-align: center;
	color: blue;
}

h3 {
	font-size: 20;
	text-align: center;
	color: aqua;
}

h4 {
	font-size: 15;
	text-align: center;
	color: green;
}

h5 {
	font-size: 10;
	text-align: center;
	color: yellow;
}

h6 {
	font-size: 5;
	text-align: center;
	color: red;
}
